h1,h2,h3,h4,h5,h6,p,form,ul {
	color: #E0E0E0;
}

body {
	background-color: #202020;
}

a:link {
	color:white;
}

a:visited {
	color:white;
}

a:hover {
	color:white;
}

a:active {
	color:white;
}

#comment {
	height:150px;
}

#main {
	text-align:center;
	float:center;
}

#radios {
	display:inline-block;
}

#cust {
	display:inline-block;
}